.email {
  width: 80% !important;
  height: 80% !important;
}

.col-md-8 {
  display: flex;
  justify-content: center;
}

.template-form {
  width: 100%;
  height: 500px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.24);
  background-color: white;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form CSS */
.form-input input {
  outline: none;
  width: 90%;
  padding: 0px;
  border: none;
  border-bottom: 1px solid #808080;
  background: transparent;
  margin: 10px 0 10px 10%;
  height: 45px;
  color:#3B3738;
  position: relative;
  float: left;
  font-size: 15px;

}

.form-input input::placeholder {
  color: #999999;
}

/* remove blue outline */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* remove yellow autofill */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

#label2 {
  margin-top: 30px;
}

label a {
  font-size: 15px;
  float: right;
}

#topLabel {
  width: 100%;
}

.email-input input {
  height: 25px;
  margin-bottom: 15px;
}

.email-input label {
  margin: 10px 0 0 10%;
}

.email-input p {
  color: #666666;
  margin-left: 10%;
}

.col-md-8 .form-group {
  width: 100% !important;
}

.email-temp label {
  margin: 10px 0 0 10%;
}

#emailTemplate {
  margin: 10px 0 0 10%;
  height: 100%;
}

#emailButtons {
  float: right;
  margin-right: 10%;
}

#emailButtons button {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#templateButtons {
  margin-left: 10%;
  margin-right: 10%;
}

#templateButtons .btn-success {
  float: left;
}

#templateButtons .btn-primary {
  float: right;
}

.dropdown .btn-sm {
  float: right;
}

#templateButtons button, #templateButtons .btn-group {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#templateLabel {
  width: 80%;
}

#templateLabel a, #templateLabel .fa-trash-alt  {
  margin: 2px 0 0 10px;
  float: right;
}

a:hover {
  text-decoration: none;
}

#templateLabel .fa-trash-alt:hover {
  color: #666666;
  cursor: pointer;
}

.modal-img {
  width: 130px;
  margin: 20px;
}

.modal-dialog .alert {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.selected-temp {
  color: #157EFB !important;
  background-color: #F8F9FA !important;
}

.temp-icon {
  margin-left: 20px;
}

.result-list-item {
  overflow-x: scroll;
}

.form-inline {
  background-color: red !important;
}
