.col-head:hover {
  opacity: 0.65 !important;
  cursor: pointer;
}

.tab-header {
  width: 100%;
  height: 3em;
  overflow: hidden;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.borderless {
  border-top: none !important;
}

.tab-header button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#listBorder {
  width: 50%;
  float: left;
  border-bottom: 3px solid #FECC4A;
}

#graphBorder {
  width: 50%;
  float: left;
  border-bottom: 3px solid #C93A3C;
}

.tab-header button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;
    width: 50%;
}


.list-group a {
  cursor: pointer;
}

/* add contact form */
.add-contact form {
  float: left;
  padding: 20px;
  width: 80%;
}


.add-contact-btns button {
  margin: 10px;
}

/* contact list item */
.del-icon {
  width: 20px;
}

.del-icon:hover {
  cursor: pointer;
  opacity: 0.65;
}

.email-icon {
  width: 25px;
}

.fa-caret-down {
  margin-left: 5px !important;
}

/* contact graph */
.graph {
  float: left;
}

.graph-type {
  display: inline-block;
  margin: 30px auto auto 20px;
}

.graph-data {
  margin-top: -30px;
}

.small-item {
  cursor: pointer;
  color: #404040;
}

.small-item:hover {
  color: #0099ff;
}
