
.tab-header {
  width: 100%;
  height: 3em;
  overflow: hidden;
}

.tab-header button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#listTab:hover { color: #6e5211; }
#graphTab:hover { color: #8c2628 }

#listBorder {
  width: 50%;
  float: left;
  border-bottom: 3px solid #FECC4A;
}

#graphBorder {
  width: 50%;
  float: left;
  border-bottom: 3px solid #C93A3C;
}

.tab-header button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%;
}

/* Style the body */
.tab-body {
  background: white;
  width: 100%;
  height: 1000px;
}
