.email {
  width: 80%;
  height: 80% !important;
}

.col-md-8 {
  display: flex;
  justify-content: center;
}

.form {
  width: 95%;
  height: 500px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.24);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form CSS */
.form-input input {
  outline: none;
  width: 95%;
  padding: 0px;
  border: none;
  border-bottom: 1px solid #808080;
  background: transparent;
  margin: 10px 0 10px 10%;
  height: 45px;
  color:#3B3738;
  position: relative;
  float: left;
  font-size: 15px;

}

.form-input input::placeholder {
  color: #999999;
}

/* remove blue outline */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
