.user-icon:hover {
  cursor: pointer !important;
}

.logout {
  color: #c63d0f;
  font-weight: bold;
}

.logout:hover {
  color: #c63d0f;
}

/* Customize Bootstrap */
.dropdown-menu-right {
  margin-top: 10px;
  right: 0;
  left: auto;
}

.dropdown-menu > a {
  cursor: pointer;
}

.bg-dark {
  background-color: #C63D0F !important;
}

.navbar {
  box-shadow: 0 2px 10px rgba(0,0,0,0.35);
}

.navbar-brand {
  font-weight: 600;
}

#helpIcon {
  color: #e6e6e6;
  font-size: 23px;
  margin-right: 30px;
}

#helpIcon:hover {
  color: white;
  cursor: pointer;
}

#helpSpan:hover {
  background-color: #C63D0F !important;
}
