li > a {
  cursor: pointer !important;
}

a:focus {
  outline: none;
}

.sidebar {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #f7f7f7;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}
