li > a {
  cursor: pointer !important;
}

.icon {
  width: 30px !important;
}

.section-title {
  margin-left: 10px;
}

a:focus {
  outline: none;
}

.sidebar {
  padding: 0;
  /* background-color: #f7f7f7; */
  background-color: #27303D;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

nav > hr {
  margin-top: 30px;
  margin-bottom: -5px;
}

.nav {
  margin-top: 5px !important;
}

.nav-pills {
  background-color: #1A222B !important;
  border-top: solid #4F5660 1px;
  border-bottom: solid #4F5660 1px;
  padding: 20px 0 20px 0;
}


.nav-link {
  color: #C0C2C5 !important;
}

.nav-item {
  border-top: 0px solid lightgrey !important;
  border-color: lightgrey;
}

.nav-item:hover {
  background-color: #414b58 !important;
}

.active {
  color: #55C4F5 !important;
  background-color: inherit !important;
}
