li > a {
  cursor: pointer !important;
}

.icon {
  color: #C63D0F !important;
  width: 30px !important;
}

.section-title {
  margin-left: 10px;
}

a:focus {
  outline: none;
}

.sidebar {
  padding: 0;
  background-color: #f7f7f7;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

nav > hr {
  margin-top: 30px;
  margin-bottom: -5px;
}

.nav {
  margin-top: 5px !important;
}


.nav-link {
  color: #404040 !important;
}

.nav-item {
  border-top: 0px solid lightgrey !important;
  border-color: lightgrey;
}

.nav-item:hover {
  background-color: rgba(146, 161, 145, 0.15) !important;
}

.active {
  font-weight: bold;
  color: #262626 !important;
  background-color: #d6dcd6 !important;
  border-radius: 3px !important;
}
