.Timeline {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.24);
    background-color: white;
    border-radius: 10px;
    overflow-y: scroll;
}

.Timeline-header {
  background-color: grey;
  font-family: inherit;
  height: 50px;
  padding: 10px;
  color: white;
}

.Timeline-intro {
  font-size: small;
  margin: 0;
}
